<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
<title>Change Keluarga Form</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Sistem Kependudukan DKI</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Tambah<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/penduduk/tambah">Penduduk</a></li>
						<li><a href="/keluarga/tambah">Keluarga</a></li>
					</ul></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Ubah<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Penduduk</a></li>
						<li><a href="/keluarga/ubah">Keluarga</a></li>
					</ul></li>
				<li class="active"><a href="cari">Cari</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<center>
			<h2>Ubah Keluarga</h2>
			<form action="" method="POST" th:object="${keluarga}">
				<input type="hidden" th:field="*{id}" />
				<div class="input-group col-sm-8">
					<span class="input-group-addon">NKK</span> <input type="text"
						th:field="*{nomor_kk}" class="form-control" readonly="true" />
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon">Alamat</span> <input type="text"
						th:field="*{alamat}" class="form-control" /> <span
						th:if="${#fields.hasErrors('alamat')}" th:errors="*{alamat}"
						class="input-group-addon bg-warning">Error Alamat</span>
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon">RT</span> <input type="text"
						th:field="*{rt}" class="form-control" aria-label="rt"
						aria-describedby="basic-addon1" /> <span
						th:if="${#fields.hasErrors('rt')}" th:errors="*{rt}"
						class="input-group-addon bg-warning" id="basic-addon2">Error
						Nama</span>
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon">RW</span> <input type="text"
						th:field="*{rw}" class="form-control" aria-label="rw"
						aria-describedby="basic-addon1" /> <span
						th:if="${#fields.hasErrors('rw')}" th:errors="*{rw}"
						class="input-group-addon bg-warning" id="basic-addon2">Error
						Nama</span>
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-4 col-sm-3">Kelurahan/Desa</span>
					<select class="custom-select col-8 col-sm-9"
						th:field="*{id_kelurahan}">
						<span th:each="kelurahan,i: ${kelurahans}">
							<option th:text="${kelurahan.nama_kelurahan}"
								th:value="${kelurahan.id}">Kelurahan</option>
					</span>
					</select>
				</div>

				<br />

				<div>
					<input type="submit" value="Submit"
						class="btn btn-primary col-sm-8" />
				</div>
			</form>
		</center>
	</div>
</body>
</html>