<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
<title>Change Penduduk Form</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Sistem Kependudukan DKI</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Tambah<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/penduduk/tambah">Penduduk</a></li>
						<li><a href="/keluarga/tambah">Keluarga</a></li>
					</ul></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Ubah<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/penduduk/ubah">Penduduk</a></li>
						<li><a href="/keluarga/ubah">Keluarga</a></li>
					</ul></li>
				<li class="active"><a href="cari">Cari</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<center>
			<h2>Ubah Penduduk</h2>
		</center>
		<form action="" method="POST" th:object="${penduduk}">
			<center>
				<div>
					<input type="hidden" name="id" th:field="*{id}" />
				</div>

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-3">NIK</span> <input type="text"
						th:field="*{nik}" readonly="true" class="form-control col-9"
						aria-label="nik" aria-describedby="basic-addon1" />
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-3">Nama</span> <input
						type="text" th:field="*{nama}" class="form-control col-9"
						aria-label="nama" aria-describedby="basic-addon1" />
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-4 col-sm-3">Tempat Lahir</span>
					<input type="text" class="form-control" name="tempat_lahir"
						id="tempat_lahir" th:field="*{tempat_lahir}" />
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-4 col-sm-3">Tanggal Lahir</span>
					<input class="custom-select col-8 col-sm-9"
						placeholder="yyyy-mm-dd" type="date" name="tanggal_lahir"
						th:field="*{tanggal_lahir}" />
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-4 col-sm-3">Jenis Kelamin</span>
					<select class="custom-select col-8 col-sm-9" name="jenis_kelamin"
						th:field="*{jenis_kelamin}">
						<option value="0">Laki-Laki</option>
						<option value="1">Perempuan</option>
					</select>
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-4 col-sm-3">Golongan
						Darah</span> <select class="custom-select col-8 col-sm-9"
						name="golongan_darah" th:field="*{golongan_darah}">
						<option value="AB+">AB+</option>
						<option value="O+">O+</option>
						<option value="A+">A+</option>
						<option value="B+">B+</option>
						<option value="AB-">AB-</option>
						<option value="O-">O-</option>
						<option value="A-">A-</option>
						<option value="B-">B-</option>
					</select>
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-3">Agama</span> <input
						type="text" th:field="*{agama}" class="form-control"
						aria-label="agama" aria-describedby="basic-addon1" />
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-5 col-sm-3">Status
						Perkawinan</span> <select class="custom-select col-7 col-sm-9"
						name="status_perkawinan" th:field="*{status_perkawinan}">
						<option value="Kawin">Kawin</option>
						<option value="Belum Kawin">Belum Kawin</option>
					</select>
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-3">Pekerjaan</span> <input
						type="text" th:field="*{pekerjaan}" class="form-control"
						aria-label="pekerjaan" aria-describedby="basic-addon1" />
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-4 col-sm-3">Kewarganegaraan</span>
					<select class="custom-select col-8 col-sm-9" name="is_wni"
						th:field="*{is_wni}">
						<option value="0" th:field="*{is_wni}">WNA</option>
						<option value="1" th:field="*{is_wni}">WNI</option>
					</select>
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-4 col-sm-3">Status
						Kematian</span> <select class="custom-select col-8 col-sm-9"
						name="is_wafat" th:field="*{is_wafat}">
						<option value="0">Hidup</option>
						<option value="1">Mati</option>
					</select>
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-3">ID Keluarga</span> <input
						type="text" th:field="*{id_keluarga}" class="form-control"
						aria-label="id_keluarga" aria-describedby="basic-addon1" />
				</div>

				<br />

				<div class="input-group col-sm-8">
					<span class="input-group-addon col-5 col-sm-4">Status Dalam
						Keluarga</span> <select class="custom-select col-7 col-sm-8"
						name="status_dalam_keluarga" th:field="*{status_dalam_keluarga}">
						<option value="Anak">Anak</option>
						<option value="Pembantu">Pembantu</option>
						<option value="Kepala Keluarga">Kepala Keluarga</option>
						<option value="Famili Lain">Famili Lain</option>
						<option value="Istri">Istri</option>
					</select>
				</div>

				<br />

				<div>
					<input type="submit" value="Submit" class="btn btn-primary col-8" />
				</div>
			</center>
		</form>
	</div>
</body>
</html>